[Desktop Entry]
Name=Linux-Assistant
Comment=Helper for daily use with integrated search
Comment[de]=Alltags-Helfer mit integrierter Suche
Exec=linux-assistant
Icon=linux-assistant
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=linux-assistant
Categories=System;Utility
