Package: linux-assistant
Version: 0.7.0
Depends: libkeybinder-3.0-0, wmctrl, wget, python3, mesa-utils, pkexec | policykit-1
Maintainer: Jean28518
Architecture: amd64
Homepage: https://github.com/Toqsick/linux-assistant
Section: Utils
Description: Daily Linux Helper with integrated search
Installed-Size: 73104
